
@font-face {
  font-family: 'Cagliostro';
  src: url('./fonts/Cagliostro.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Cagliostro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #E0BBA6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
